<template>
  <div class="checkout">
    <div class="container-fluid">
       <div class="row">
      <router-link :to="'/'"  class=" border border-dark pt-2 pb-2 col-12 text-dark ">
        <div  >
          Home 
        </div>
      </router-link>
        <!-- <div   class="border border-dark pt-2 pb-2 col-6 " @click="show=!show">
          Stickers
        </div>
        <div v-if="show==true">
          <Items/>
          </div> -->
      </div>

    <div class="row justify-content-center">
      MI CARRITO 
    </div>
    <div class="row">
      <div class="col-4">Producto</div>
      <div class="col-4">Cantidad</div>
      <div class="col-4">Precio</div>
    </div>
    <div class="container">MI CARRITO ESTÁ VACÍO</div>
    <div class="row">Total</div>
    <div class="row justify-content-center">
      <div class="col-6 " style="background-color:#FDBD59">Pago</div>
    </div>

  </div>
  </div>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { faShoppingCart } from '@fortawesome/free-solid-svg-icons'
import Items from "@/components/Items.vue";




export default {
    name: 'checkout',
  data(){

    return {  
      myIcon: faShoppingCart,
      show:false
}
  },
  components:{
    FontAwesomeIcon,
    

    
    mounted: () => console.log(fas)
  }
}
</script>

<style lang="scss" >


</style>
