<template>
  <div class="home ">
    <div class="container-fluid">
      
      <div class="row">
        <div  class=" border border-dark pt-2 pb-2 col-6 push" @click="show=!show">
          Home 
        </div>
        <div   class="border border-dark pt-2 pb-2 col-6 push" @click="show=!show">
          Stickers
        </div>
      </div>
  <div v-if="show==false" >
       <div class="container">
        <div class="row justify-content-center font-weight-bold mt-2">
          <h3> ¿Cómo funciona Boonwi?</h3>
        </div>
        <div class="row justify-content-center mt-2 rounded text-white" style=" background-color: #1E1E24;" > 
          Puedes llevarte los modelos que más te gusten o llevarte la colección completa.
        </div>
        <div class="row justify-content-center mt-2 rounded text-white " style=" background-color: #1E1E24;" > 
          Revisa nuestro catalogo en segundos 
        </div>
        <div class="row justify-content-center mt-4 rounded text-white pt-3 pb-3" style=" background-color: #8EB1C7;" @click="show=!show">1. Ve todos los diseños</div>
        <div class="row justify-content-center mt-2 rounded text-white pt-3 pb-3" style="background-color: #7F95D1;" >2. selecciona tus favoritos</div>
        <router-link :to="'checkout'">
                <div class="row justify-content-center mt-2 rounded text-white pt-3 pb-3"  style="background-color: #ED982C;">3. agregalos al carrito de compra </div>

            </router-link>
        
        <div class="row justify-content-center mt-2 rounded text-white pt-3 pb-3" style="background-color: #700548;">4. Espera tus stickers en la puerta de tu casa</div>
      </div>
      </div>
      <div v-else>
         
        <Items/>
      </div>
      
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Items from "@/components/Items.vue";

export default {
  name: "home",
  data(){
    return {
      show:false
    }
  },
  components: {
    Items
  }
};
</script>

<style lang="scss">
html, 
body {
    height: 100%;
    width: 100%;
}

</style>
