<template>
<div class="container h-100">

  
  <div class="row mt-3 justify-content-center">
    <div class="col-9 ">
      <toggle-button   :width=110 :height=30 :font-size=13
        :value="{checked:'true', unchecked: 'false'}"
        :color="{checked:'#82C7EB', unchecked: '#00FF00'}"
        :labels="{checked: 'Solo ver', unchecked: 'Seleccionar'}"
        v-model="myDataVariable" 
        />
    </div>
  </div>
  
  
  <div v-if="myDataVariable==false" class="row" >
    <div v-for="(item,index) in images" :key="`item-${index}`" class=" col-4 imgHeight text-center pl-0 pr-0" @click="show()" >
      <img style="height:100%; width:30vw; " :src="item.picture" alt=""> 
    </div> 
     <VueEasyLightbox
      :visible="visible"
      :imgs="imgs"
      :index=9
      @hide="handleHide"
    ></VueEasyLightbox>
  </div>
  <div v-else class="row  scrol"  >
    <div  v-for="(item,index) in images" :key="item.id" class=" col-4 imgHeight text-center pl-0 pr-0 ">
    <input  type="checkbox" v-model="checkedCategories" :value="item.name" :id="index" />
      <label class="lab h-100" :for="index">
        <img style="height:100%; width:30vw; " :src="item.picture">
      </label>
    </div>
    {{checkedCategories}}
  </div>
  <div v-if="checkedCategories.length>0" class="row justify-content-center mt-3 " >
    <div class="col-5 text-white rounded pb-2 pt-2"  style="background-color: #ED982C;">Enviar al carrito</div>
  </div>


   <div  class="row justify-content-center" >
   <!-- v-for="(i,index) in rowCount" :key="`i-${index}`" > -->
  
    <!-- <div v-for="(item,index) in images" :key="`item-${index}`" class=" col-4 imgHeight text-center pl-0 pr-0" @click="() => showSingle(item.picture,index)" >
      <img style="height:100%; width:30vw; " :src="item.picture" alt=""> -->
        <!-- <VueEasyLightbox
      :visible="visible"
      :imgs=item.picture
      :index=0
      @hide="handleHide"
    ></VueEasyLightbox> -->
    <!-- </div> -->
  </div>
 

  <!-- <button @click="showSingle">Show single picture.</button> -->
    <!-- <button @click="showMultiple">Show a group of pictures.</button> -->
   
</div>
</template>


<script>
import VueEasyLightbox from 'vue-easy-lightbox'
import { ToggleButton } from 'vue-js-toggle-button'
import store from '../store'
import {mapState} from 'vuex'


export default {
  data(){
    return{
      imgs: [],  // Img Url , string or Array
      visible: false,
      index: 0,  // defaul
      slideShow:false,
      myDataVariable:false,
      array:[],
      checkedCategories: [],

    }
  },
  components: {
    VueEasyLightbox,
    ToggleButton
  },
  mounted(){
    this.images.forEach((element,index) => {
      this.imgs.push(element.picture)
    });
  },
   computed:
     {...mapState([
      'images'
])},
  // computed:{
  //   rowCount:function(){     
  //     return Math.ceil(this.images.length / this.itemsPerRow);
  //   },
  // },
  methods:{
    check(val){
      console.log(val)
    },
    // itemCountInRow:function(index){
    //  return this.items.slice((index - 1) * this.itemsPerRow, index * this.itemsPerRow)
    // },
    showSingle(item,index) {
      this.imgs = item
      this.index=index
      this.show()

    },
    // este sirve para mostras la flecha de slide pero como  es un array de string como  que no le entinedo bine ahorita como  implementarlo  
    showMultiple() {
      this.imgs = ['http://via.placeholder.com/350x150', 'http://via.placeholder.com/350x150']
      this.index = 1  // index of imgList
      this.show()
    },
    // showImg (index) {
    //     this.index = index
    //     this.visible = true
    //   },
    show() {
      this.visible = true
    },
    handleHide() {
      this.visible = false
            this.myDataVariable=false
            

    }
  }
}
</script>

<style>
.imgHeight{
height: 20vh;

}
.vue-js-switch .v-switch-label.v-right[data-v-25adc6c0] {
    right: 7px; 
}
.vue-js-switch .v-switch-label.v-left[data-v-25adc6c0] {
    left: 25px;
}
.lab:before {
  background-color: white;
      height: 25px;

  content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/unchecked_checkbox.png");
  position: absolute;
  z-index: 100;
}
:checked+.lab:before {
    background-color: white;
    height: 25px;
  content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/checked_checkbox.png");
}
input[type=checkbox] {
  display: none;
}
.scrol{
  /* background-color: white; */
  width: 110%;
  height: 50vh;
  overflow-x: hidden;
    z-index: 1;

  -moz-box-shadow:   inset  40px 3px rgba(0,0,0,1.3); 
   -webkit-box-shadow: inset 0px 0 10px #000000;
   box-shadow:         inset 10px 0px 30px #000;

}
.scrol::-webkit-scrollbar {
    width: 5px;

}
 
.scrol::-webkit-scrollbar-track {
    background-color: rgb(218, 237, 253);
    box-shadow: inset  0px 3px rgba(0,0,0,1.3); 

    border-radius: 10px;
}
 
.scrol::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 3px rgba(0,0,0,1.5);
 
}
/*pure cosmetics:*/
img {
  /* width: 150px;
  height: 150px; */
  z-index: -1;
  position: relative;
}
/* label {
  margin: 10px;
} */
</style>