<template>
  <div id="app">
    <div id="nav">
      <div class="container-fluid">
        <div class="row pr-2 navHeight justify-content-center">
          <div class="col-12 pt-2 text-right">
            <router-link :to="'checkout'">
              <b-button variant="link"> <font-awesome-icon :icon="myIcon" /></b-button>
            </router-link>
          </div>

    
        </div>
        </div>
      <!-- <router-link to="/">Home</router-link> |
      <router-link to="/checkout">About</router-link> -->
    </div>
    <router-view />
  </div>
</template>


<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { faShoppingCart } from '@fortawesome/free-solid-svg-icons'




export default {
    name: 'App',
  data(){

    return {  
      myIcon: faShoppingCart,
}
  },
  components:{
    FontAwesomeIcon,
    

    
    mounted: () => console.log(fas)
  }
}
</script>
<style lang="scss" >
html, body, #wrapper
{
width: 100%;
height: 100%;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.navHeight{
height: 25vh;
background-color: #1E1E24;
}
.fa-shopping-cart{
  color: white;
  font-size: 4vh;
}
</style>

